

// from core layout field

.uk-sortable-placeholder .uk-sortable {
    pointer-events: none;
}

.layout-components {
    &.empty {
        min-height: 100px;
        background: rgba(0,0,0,.01);

        &:after {
            font-family: FontAwesome;
            content: "\f1b3";
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 14px;
            transform: translate3d(-50%, -50%, 0);
            color: rgba(0,0,0,.3);
        }
    }
}

.layout-field-preview {
    display: block;
    margin-top: 8px;
    padding-top: 6px;
    border-top: 1px rgba(0,0,0,.05) dotted;
    canvas {
        background-size: contain; 
        background-position: 50% 50%; 
        background-repeat: no-repeat; 
    }
    &:empty {
        display:none
    }
}


// advanced

field-layout, [data-is=field-layout] {
    .layout-components > div.layout-component {
        margin: 0 0 .5em;
    }
}

.layout-component {
    position: relative;
    padding: 1em 10px 10px;
    border-radius: 2px;
    transition: background .5s ease-in-out;

    block-text, div[data-is=block-text] {
        .mce-top-part {
            position: absolute;
            bottom: calc(100% - 1px);
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-radius: 4px 4px 0 0;
            &:before {
                box-shadow: none;
            }
        }

        .mce-statusbar {
            position: absolute;
            top: calc(100% - 1px);
            border-left: 1px solid #ddd !important;
            border-bottom: 1px solid #ddd !important;
            border-right: 1px solid #ddd !important;
            border-radius: 0 0 4px 4px;
        }

        .mce-edit-area {
            border: 1px solid #ddd !important;
            border-radius: 0 4px 4px 0;
            iframe {
                border-radius: 0 4px 4px 0;
            }
        }
    }
    &[data-active="1"] {
        block-text, div[data-is=block-text] {
            margin-top: -10px;
        }
    }
    &.contains-editor {
        &[data-active="1"] {
            padding-left: 0;
            padding-right: 0;
            block-text, div[data-is=block-text] {
                margin-top: -10px;
            }
        }
    }
}

.layout-component-menubar {
    //opacity: 0;
    display: none;

    position: absolute;
    top: 0;
    left: -1.8em;
    padding: .2em;
    margin-top: -1.7em;
    margin-right: .1em;
    z-index: -1;

    .layout-component-menubar-left, .layout-component-menubar-top {
        display: inline-block;
        vertical-align: top;
    }

    .layout-component-menubar-left {
        width: 1.5em;
        text-align: center;
    }

    .layout-component-menubar-top {
        padding: 0 .2em;
    }

}

.layout-component-active, .layout-component[data-active="1"] {
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    z-index: 1;

    > div > .layout-component-menubar {
        //opacity: 1;
        display: block;

        .layout-component-menubar-left, .layout-component-menubar-top {
            background-color: rgba(255,255,255,1);
            z-index: 2;
        }
    }

}

.layout-component[data-active="1"] {
    z-index: 2;
    background-color: #fff;
    > div > .layout-component-topbar {
        background-color: rgba(255,255,255,1);
    }
}

.field-layout-handle {
    cursor: move;
}

/* for debugging */
//.layout-component {
    //background-color: rgba(0,255,255,.5);
    //box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
//}
